
@font-face {
    font-family: karma;
    src: url(../Fonts/Karma/Karma-Medium.ttf);
}
h2{
    font-family: karma;
    

}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

body {
    margin-top: 0em;
    
}

body.home {
    background-image: url(../Images/party.png);
    background-repeat: no-repeat;
    background-size: cover;

}

body.people {
    background-image: url(../Images/banner\ 8.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.uitslag {
    background-image: url(../Images/schaatsen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titel{
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 0,5em;
    padding-bottom: 0,5em;
}

.people header{
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 0,5em;
    padding-bottom: 0,5em;
}

nav{
 text-align: center;
margin-right: 3em;
}

.erin{
    text-align: center;
}

.people h2{
    text-align: center;
}
h2{
    color: black;
}
.inputafb {
    display: flex;
    justify-content: center;
    margin-top: 16em;
}

li{
   list-style: none;
}

.uitslag header{
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 0,5em;
    padding-bottom: 0,5em;
}

   
    

.uitslagkader{
    display: flex;
    justify-content: center;
    margin-top: 5em;
   
}

.uitslag h2{
    display: flex;
    justify-content: center;
    color: black;
}



